In [56]:
# The dataset

dataset = [['milk','bread', 'biscuit'],['bread','milk','biscuit','cereal'],['bread','tea'],['jam','bread','milk']
,['tea','biscuit'],['bread','tea'],['tea','cereal'],['bread','tea','biscuit'],['jam','bread','tea'],['bread','milk']
,['coffee','orange','biscuit','cereal'],['coffee','orange','biscuit','cereal'],['coffee','sugar']
,['bread','coffee','orange'],['bread','sugar','biscuit'],['coffee','sugar','cereal'],['bread','sugar','biscuit']
,['bread','coffee','sugar'],['bread','coffee','sugar'],['tea','milk','coffee','cereal']]

In [57]:
dataset

[['milk', 'bread', 'biscuit'],
 ['bread', 'milk', 'biscuit', 'cereal'],
 ['bread', 'tea'],
 ['jam', 'bread', 'milk'],
 ['tea', 'biscuit'],
 ['bread', 'tea'],
 ['tea', 'cereal'],
 ['bread', 'tea', 'biscuit'],
 ['jam', 'bread', 'tea'],
 ['bread', 'milk'],
 ['coffee', 'orange', 'biscuit', 'cereal'],
 ['coffee', 'orange', 'biscuit', 'cereal'],
 ['coffee', 'sugar'],
 ['bread', 'coffee', 'orange'],
 ['bread', 'sugar', 'biscuit'],
 ['coffee', 'sugar', 'cereal'],
 ['bread', 'sugar', 'biscuit'],
 ['bread', 'coffee', 'sugar'],
 ['bread', 'coffee', 'sugar'],
 ['tea', 'milk', 'coffee', 'cereal']]

In [58]:
# Importing required library for market basket analysis
from mlxtend.preprocessing import TransactionEncoder

In [59]:
te = TransactionEncoder()

In [60]:
# Fitting and tranforming the dataset
data = te.fit(dataset).transform(dataset)

In [61]:
data

array([[ True,  True, False, False, False,  True, False, False, False],
       [ True,  True,  True, False, False,  True, False, False, False],
       [False,  True, False, False, False, False, False, False,  True],
       [False,  True, False, False,  True,  True, False, False, False],
       [ True, False, False, False, False, False, False, False,  True],
       [False,  True, False, False, False, False, False, False,  True],
       [False, False,  True, False, False, False, False, False,  True],
       [ True,  True, False, False, False, False, False, False,  True],
       [False,  True, False, False,  True, False, False, False,  True],
       [False,  True, False, False, False,  True, False, False, False],
       [ True, False,  True,  True, False, False,  True, False, False],
       [ True, False,  True,  True, False, False,  True, False, False],
       [False, False, False,  True, False, False, False,  True, False],
       [False,  True, False,  True, False, False,  True, False, False],
       [ True,  True, False, False, False, False, False,  True, False],
       [False, False,  True,  True, False, False, False,  True, False],
       [ True,  True, False, False, False, False, False,  True, False],
       [False,  True, False,  True, False, False, False,  True, False],
       [False,  True, False,  True, False, False, False,  True, False],
       [False, False,  True,  True, False,  True, False, False,  True]])

In [62]:
# Making a dataframe for further analysis
import pandas

productdata = pandas.DataFrame(data, columns=te.columns_)

In [63]:
productdata

    biscuit  bread  cereal  coffee    jam   milk  orange  sugar    tea
0      True   True   False   False  False   True   False  False  False
1      True   True    True   False  False   True   False  False  False
2     False   True   False   False  False  False   False  False   True
3     False   True   False   False   True   True   False  False  False
4      True  False   False   False  False  False   False  False   True
5     False   True   False   False  False  False   False  False   True
6     False  False    True   False  False  False   False  False   True
7      True   True   False   False  False  False   False  False   True
8     False   True   False   False   True  False   False  False   True
9     False   True   False   False  False   True   False  False  False
10     True  False    True    True  False  False    True  False  False
11     True  False    True    True  False  False    True  False  False
12    False  False   False    True  False  False   False   True  False
13    False   True   False    True  False  False    True  False  False
14     True   True   False   False  False  False   False   True  False
15    False  False    True    True  False  False   False   True  False
16     True   True   False   False  False  False   False   True  False
17    False   True   False    True  False  False   False   True  False
18    False   True   False    True  False  False   False   True  False
19    False  False    True    True  False   True   False  False   True

In [64]:
# Importing apriori and association rule for Market Basket Analysis

from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [65]:
# Determine the frequent factors
frequent_factors = apriori(productdata, use_colnames=True, min_support = 0.01, max_len=3)

In [66]:
# Determine the rules
rules = association_rules(frequent_factors, metric='lift', min_threshold=1)

In [67]:
print(rules.head(10).sort_values(by='confidence', ascending=False))

  antecedents consequents  antecedent support  consequent support  support  \
7       (jam)     (bread)                0.10                0.65     0.10
8      (milk)     (bread)                0.25                0.65     0.20
4    (orange)   (biscuit)                0.15                0.40     0.10
0    (cereal)   (biscuit)                0.30                0.40     0.15
2      (milk)   (biscuit)                0.25                0.40     0.10
1   (biscuit)    (cereal)                0.40                0.30     0.15
9     (bread)      (milk)                0.65                0.25     0.20
3   (biscuit)      (milk)                0.40                0.25     0.10
5   (biscuit)    (orange)                0.40                0.15     0.10
6     (bread)       (jam)                0.65                0.10     0.10

   confidence      lift  leverage  conviction
7    1.000000  1.538462    0.0350         inf
8    0.800000  1.230769    0.0375    1.750000
4    0.666667  1.666667    0.0400    1.800000
0    0.500000  1.250000    0.0300    1.200000
2    0.400000  1.000000    0.0000    1.000000
1    0.375000  1.250000    0.0300    1.120000
9    0.307692  1.230769    0.0375    1.083333
3    0.250000  1.000000    0.0000    1.000000
5    0.250000  1.666667    0.0400    1.133333
6    0.153846  1.538462    0.0350    1.063636

In [68]:
# Determine product with the maximum support
apriori(productdata, use_colnames=True, min_support=0.5)

   support itemsets
0     0.65  (bread)

In [69]:
frequent_itemsets = apriori(productdata, min_support=0.1, use_colnames=True )

In [70]:
frequent_itemsets['Length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))

In [71]:
frequent_itemsets

    support                           itemsets  Length
0      0.40                          (biscuit)       1
1      0.65                            (bread)       1
2      0.30                           (cereal)       1
3      0.40                           (coffee)       1
4      0.10                              (jam)       1
5      0.25                             (milk)       1
6      0.15                           (orange)       1
7      0.30                            (sugar)       1
8      0.35                              (tea)       1
9      0.25                   (biscuit, bread)       2
10     0.15                  (cereal, biscuit)       2
11     0.10                  (coffee, biscuit)       2
12     0.10                    (milk, biscuit)       2
13     0.10                  (orange, biscuit)       2
14     0.10                   (biscuit, sugar)       2
15     0.10                     (biscuit, tea)       2
16     0.15                    (coffee, bread)       2
17     0.10                       (bread, jam)       2
18     0.20                      (milk, bread)       2
19     0.20                     (sugar, bread)       2
20     0.20                       (tea, bread)       2
21     0.20                   (cereal, coffee)       2
22     0.10                     (cereal, milk)       2
23     0.10                   (cereal, orange)       2
24     0.10                      (cereal, tea)       2
25     0.15                   (orange, coffee)       2
26     0.20                    (coffee, sugar)       2
27     0.10             (milk, biscuit, bread)       3
28     0.10            (biscuit, sugar, bread)       3
29     0.10          (cereal, coffee, biscuit)       3
30     0.10          (cereal, biscuit, orange)       3
31     0.10          (orange, coffee, biscuit)       3
32     0.10             (coffee, sugar, bread)       3
33     0.10           (cereal, coffee, orange)       3
34     0.10  (cereal, coffee, biscuit, orange)       4

In [72]:
target = '{\'bread\'}'
target

"{'bread'}"

In [73]:
results_bread = rules[rules['consequents'].astype(str).str.contains(target, na=False)].sort_values(by = 'confidence', ascending = False)

In [74]:
results_bread

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
7,(jam),(bread),0.10,0.65,0.10,1.000000,1.538462,0.0350,inf
28,"(milk, biscuit)",(bread),0.10,0.65,0.10,1.000000,1.538462,0.0350,inf
34,"(biscuit, sugar)",(bread),0.10,0.65,0.10,1.000000,1.538462,0.0350,inf
75,"(milk, jam)",(bread),0.05,0.65,0.05,1.000000,1.538462,0.0175,inf
81,"(tea, jam)",(bread),0.05,0.65,0.05,1.000000,1.538462,0.0175,inf
8,(milk),(bread),0.25,0.65,0.20,0.800000,1.230769,0.0375,1.75
10,(sugar),(bread),0.30,0.65,0.20,0.666667,1.025641,0.0050,1.05

If a customer bought jam, milk and biscuits, or biscuits and sugar, then the customer is more likely to buy bread along wit it.